    #landing_words {
        background-image: linear-gradient(60deg, #FF8811, #dba048);
        background-clip: text;
        background-size: 400% 400%;
        animation: gradient 4s ease infinite;
        color: transparent;
    }