main {
    background: linear-gradient(-45deg, #686868, #31393C, #41464d);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
    height: 100%;
}

html {
    background-color: #31393C;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}