main {
    background: linear-gradient(-45deg, #686868, #161515, #52575f);
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
    height: 100%;
}

html {
    background-color: #424852;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}